---
# tasks file for docker/ansible link
- name: Install docker/ansible dependencies
  become: true
  environment: "{{lagoon_docker_proxy}}"
  apt:
    name={{ item }}
    state=present
    update_cache=yes
  with_items:
  - python-dev
  - python-pip

- name: Upgrade pip
  become: true
  environment: "{{lagoon_docker_proxy}}"
  pip:
    name=pip
    extra_args=--upgrade

- name: Remove old Python modules
  become: true
  pip:
    name={{ item }}
    state=absent
  with_items:
  - docker-py

- name: Install Python modules
  become: true
  environment: "{{lagoon_docker_proxy}}"
  pip:
    name=docker
    state=present

- name: Install docker-compose
  become: true
  environment: "{{lagoon_docker_proxy}}"
  pip:
    name={{item}}
    state=present
  with_items:
  - docker-compose
  - jsondiff
